@tailwind base;
@tailwind components;
@tailwind utilities;



a {
  font-weight: 500;
  text-decoration: none;
}



body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  background: #F3F4F6;
  color: black;
  height: 100vh;

}

.card {
  transform: scale(1, 1);
  transition: transform 0.5s ease;


}

.card:hover {
  transform: scale(1.1, 1.1);
}